.drat_bold_merah {
    color: red;
    font-weight: bold;
}
.drat_bold_biru {
    color: blue;
    font-weight: bold;
}
.drat_bold_hitam{
    color: black;
    font-weight: bold;
}
.drat_bold_hijau{
    color: green;
    font-weight: bold;
}
